@import "bootstrap";

.post-title {
  a {
    text-decoration: none;
    color: inherit;
  }
}
.post-date {
  color: #727272;
  font-size: 0.7rem;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

